<configuration>
   <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file> C:\Log\circle\log-${byDay}.txt </file>
      <append>true</append>
      <encoder>
         <pattern> %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   <root level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="STDOUT" />
   </root>
 <logger name="com.cts.training.msms" level="INFO"/>
  <logger name="com.cts.training.msms" level="WARN"/>
</configuration>